{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Tests" %}


{% block sidebar %}


	
	
{% endblock %}



{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('test') }}">Tests</a></li>
</ul>



<h1>Tests</h1>





{% for entity in entities %}
	<a href="{{ path('test_show', { 'id': entity.id }) }}" rel="twipsy" data-original-title="{{ entity.title }}" style="float:left;margin:0 20px 20px 0"><img src="{{ asset('bundles/applicationanuncios/images/badges/') }}{{ entity.id }}.png" width="100" height="100"/></a>
{% endfor %}

<br class="clear"/>






{% endblock %}


{% block script_load %}

$('#content .span6:first').removeClass('span6').addClass('span8');
$('#content .span6:span2').hide();

{% endblock %}