{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Tests" %}


{% block sidebar %}


	
	
{% endblock %}



{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('test') }}">Tests</a></li>
</ul>



<h1>Tests</h1>




<ul style="list-style-type:none;margin:0;padding:0;width:480px">
    {% for entity in entities %}
        <li style="margin-bottom:20px;" {% if entity.featured == 1 %}class="featured"{% endif %}">

          <img src="{{ asset('bundles/applicationanuncios/images/badges/') }}{{ entity.id }}.png" width="35" height="35" style="float:left;margin-right:13px"/>
          <div style="float:left;width:425px">
              <a href="{{ path('test_show', { 'id': entity.id }) }}" class="title">{{ entity.title }}</a><br/>
              {{ entity.body|truncate(200) }}
          </div>
          
        </li>
    {% endfor %}
</ul>





{{ pager|raw }}




{% endblock %}

