{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Foro" %}

{% block sidebar %}
    <a href="{{ path('thread_new') }}" class="btn btn-large btn-primary">Nuevo tema</a>

    <br/><br/>
    <b>Foros</b>
    <br/><br/>
    <ul>
    {% for entity in forums %}
        <li>
            <a href="{{ path('forum_show', { 'id': entity.id }) }}">{{ entity.title }}</a> ({{ entity.threads }})
        </li>
    {% endfor %}
    </url>

{% endblock %}

{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('forum') }}">Foro</a></li>
</ul>

{% if filter == 'latest' %}
    <h1>Foro</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('forum') }}">Últimos temas</a></li>
        <li><a href="{{ path('forum') }}?filter=noreply">Sin respuesta</a></li>
    </ul>
{% else %}
    <h1>Temas sin respuesta</h1>
    <ul class="nav nav-tabs">
        <li><a href="{{ path('forum') }}">Últimos temas</a></li>
        <li class="active"><a href="{{ path('forum') }}?filter=noreply">Sin respuesta</a></li>
    </ul>
{% endif %}




{% for entity in entities %}
    <div style="padding:10px;border-top:1px #efefef solid;{% if entity.featured != 1 and loop.index is divisibleby(2) %}background:#F6F6F6{% endif %}" {% if entity.featured == 1 %}class="featured"{% endif %}>

        <div style="color:#666;float:left;text-align:center;font-size:10px;width:60px">
            <b style="font-size:20px">{{ entity.replies }}</b><br/>
            respuestas
        </div>
        <div style="color:#666;float:left;text-align:center;font-size:10px;width:60px">
            <b style="font-size:20px">{{ entity.visits }}</b><br/>
            visitas
        </div>
        <div style="padding-top:10px">
            <span class="pull-right date">{{ entity.date|date('d/m/Y') }}</span>
            &nbsp;&nbsp;<a href="{{ path('thread_show', { 'id': entity.id, 'slug': entity.slug, 'forum_id': entity.forumid }) }}">{{ entity.title }}</a><br/>
        </div>
        <br class="clear"/>
    </div>
    {% endfor %}






{{ pager|raw }}

{% endblock %}