{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Foro" %}

{% block sidebar %}
    <a href="{{ path('thread_new') }}" class="btn btn-large btn-primary">Nuevo tema</a>

    <br/><br/>
    <b>Foros</b>
    <br/><br/>
    <ul>
    {% for entity in forums %}
        <li>
            <a href="{{ path('forum_show', { 'id': entity.id }) }}">{{ entity.title }}</a> ({{ entity.threads }})
        </li>
    {% endfor %}
    </url>

{% endblock %}

{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('forum') }}">Foro</a></li>
</ul>

{% if filter == 'latest' %}
    <h1>Foro</h1>


    <div class="alert" style="margin-bottom:20px">
    <b style="display:block;margin-bottom:10px;font-weight:bold">Ranking semanal de personas más activas</b>

    {% if users_ref %}

        {% for user in users_ref %}
            <a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}" data-original-title="<b>{{ categories[ user.category_id ] }}</b><br/>{{ user.name }}" rel="twipsy" style="float:left;margin-right:5px"><span style="position:absolute;margin-top:20px;padding:0 5px;background:red;color:white;font-size:10px">{{ user.total }}</span><img src="
            {% if user.avatar_type == 1 %}
                http://api.twitter.com/1/users/profile_image/{{ user.twitter_url }}?size=normal
            {% elseif( user.avatar_type == 2 ) %}
                http://graph.facebook.com/{{ user.facebook_id }}/picture?type=square
            {% else %}
                http://www.gravatar.com/avatar/{{ user.email|md5 }}?s=50&d=http://dir.betabeers.com/bundles/applicationanuncios/images/default_avatar.png
            {% endif %}
            " width="38" height="38"/></a>
        {% endfor %}

    {% else %}
        ¿Quieres aparecer aquí? <a href="{{ path('post_new') }}">Participa en el foro</a>

    {% endif %}

    <br class="clear"/>
    </div>


    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('forum') }}">Últimos temas</a></li>
        <li><a href="{{ path('forum') }}?filter=noreply">Sin respuesta</a></li>
    </ul>

{% else %}
    <h1>Temas sin respuesta</h1>
    <ul class="nav nav-tabs">
        <li><a href="{{ path('forum') }}">Últimos temas</a></li>
        <li class="active"><a href="{{ path('forum') }}?filter=noreply">Sin respuesta</a></li>
    </ul>
{% endif %}




{% for entity in entities %}
    <div style="padding:10px;border-top:1px #efefef solid;{% if entity.featured != 1 and loop.index is divisibleby(2) %}background:#F6F6F6{% endif %}" {% if entity.featured == 1 %}class="featured"{% endif %}>

        <div style="color:#666;float:left;text-align:center;font-size:10px;width:60px;{% if entity.replies == 0 %}color:#990000{% endif %}">
            <b style="font-size:20px">{{ entity.replies }}</b><br/>
            respuestas
        </div>
        <!--
        <div style="color:#666;float:left;text-align:center;font-size:10px;width:60px">
            <b style="font-size:20px">{{ entity.visits }}</b><br/>
            visitas
        </div>
        -->
        <div style="padding-top:10px">
            <span class="pull-right date">{{ entity.date|date('d/m/Y') }}</span>
            &nbsp;&nbsp;<a href="{{ path('thread_show', { 'id': entity.id, 'slug': entity.slug, 'forum_id': entity.forumid }) }}">{{ entity.title }}</a><br/>
        </div>
        <br class="clear"/>
    </div>
    {% endfor %}






{{ pager|raw }}

{% endblock %}