{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% form_theme form 'ApplicationAnunciosBundle:Form:fields.html.twig' %}

{% block title "Nuevo foro" %}

{% block content %}

<style>
TEXTAREA.xlarge{width:430px}
</style>


<h1>Nuevo foro</h1>

<form class="form-horizontal" action="{{ path('forum_create') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}
    
    {{ form_row(form.title, { 'label': 'Titulo' }) }}
    {{ form_row(form.body, { 'label': 'Descripción' }) }}
        
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" style="width:150px">Guardar cambios</button>
    </div>
    
    {{ form_row(form._token) }}

</form>

{% endblock %}

{% block script_load %}
    $('.form-horizontal input:first').focus();
{% endblock %}