{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Empresas" %}

{% block sidebar %}

	<a href="/post/new" class="btn btn-large btn-primary">Publicar empleo</a>
	<a href="/page/faq/" class="btn">Ayuda y casos de éxito</a>

{% endblock %}



{% block content %}

<h1>Empresas</h1>

<form>
	<input name="q" placeholder="Posicíón, keyword o empresa" value=""/> <input type="submit" value="Buscar" class="btn"/>
</form>


<ul class="nav nav-tabs">
	<li><a href="{{ path('post') }}">Empleo</a></li>
	<li class="active"><a href="{{ path('company') }}">Empresas</a></li>
	<li><a href="{{ path('post_search') }}?t=3">Socio</a></li>
	<li><a href="{{ path('post_search') }}?t=1">Freelance</a></li>
	<li><a href="{{ path('post_search') }}?t=2">Prácticas</a></li>
</ul>

<div style="padding:10px 0;border-top:1px #efefef solid;background:#F6F6F6">
	<div style="float:left;width:340px;padding-left:15px">
		<a href="{{ path('company_show', { 'id': 'socialbro' }) }}" class="title" style="font-size:15px;line-height:16px;">SocialBro</a><br>
		Córdoba, España
	</div>		
	<div style="float:right;width:100px;">
		<span class="date">11/07/2012</span>
	</div>
	<br class="clear">
</div>

<div style="padding:10px 0;border-top:1px #efefef solid;">
	<div style="float:left;width:340px;padding-left:15px">
		<a href="{{ path('company_show', { 'id': 'touristeye' }) }}" class="title" style="font-size:15px;line-height:16px;">Touristeye</a><br>
		Madrid, España
	</div>		
	<div style="float:right;width:100px;">
		<span class="date">11/07/2012</span>
	</div>
	<br class="clear">
</div>

<div style="padding:10px 0;border-top:1px #efefef solid;">
	<div style="float:left;width:340px;padding-left:15px">
		<a href="{{ path('company_show', { 'id': '24symbols' }) }}" class="title" style="font-size:15px;line-height:16px;">24symbols</a><br>
		Madrid, España
	</div>		
	<div style="float:right;width:100px;">
		<span class="date">11/07/2012</span>
	</div>
	<br class="clear">
</div>

<div style="padding:10px 0;border-top:1px #efefef solid;background:#F6F6F6">
	<div style="float:left;width:340px;padding-left:15px">
		<a href="{{ path('company_show', { 'id': 'softonic' }) }}" class="title" style="font-size:15px;line-height:16px;">Softonic</a><br>
		Barcelona, España
	</div>		
	<div style="float:right;width:100px;">
		<span class="date">11/07/2012</span>
	</div>
	<br class="clear">
</div>

{% endblock %}