{% set nav_user = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Buscar profesionales" %}

{% block sidebar %}
	<a href="{{ path('user_register') }}" class="btn btn-primary btn-large">Registrarte</a>
	

	<b>Filtrar por categoría</b><br/><br/>
	<ul>
	{% for category in categories %}
		<li><a href="{{ path('user') }}?c={{loop.index0}}">{{category}}</a></li>
	{% endfor %}
	</url>
	
{% endblock %}

{% block content %}



<h1>Buscar profesionales</h1>

<form>
	<input name="q" value="{{ search }}"/> <input type="submit" value="Buscar" class="btn"/>
</form>

<ul class="nav nav-tabs">
	<li><a href="{{ path('post_search') }}?q={{ search }}">Empleo</a></li>
	<li class="active"><a href="{{ path('user_search') }}?q={{ search }}">Profesionales</a></li>
	<li><a href="{{ path('event_search') }}?q={{ search }}">Eventos</a></li>
</ul>

{% if entities %}
	<ul style="list-style-type:none;margin:0;padding:0;width:480px">
	    {% for entity in entities %}
	        <li>

			
				<img src="{{ entity.getAvatar('mini') }}" width="35" height="35" style="float:left;margin-right:13px"/>
				<div style="float:left;width:425px">
	            <a href="{{ path('user_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.name }}</a> 
				{% if entity.freelance %}
					<span class="freelance">&#149; freelance</span>
				{% endif %}
				
				<br/><b>{{ categories[ entity.categoryid ] }}</b> 
				{% if entity.votes %}
					<span class="votes">{{ entity.votes }}</span>
				{% endif %}
				<br/>

				{% if entity.body %}
					{{ entity.body|truncate(200) }}<br/>
				{% endif %}
			
				<span class="date">{{ entity.location }}</span>


				</div>

				<br class="clear"/><br/>
			
			
	        </li>
	    {% endfor %}
	</ul>

{% else %}
	sin resultados, prueba con otra busqueda
{% endif %}


{% endblock %}

