{% set share_url = url('user_welcome') %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Directorio de profesionales IT" %}


{% block sidebar %}
	



<a href="{{ path('user_register') }}" class="btn btn-large btn-primary">Registrarte</a>
<a href="{{ path('user_login') }}" class="btn">Iniciar sesión</a>
<!--<iframe src="https://www.facebook.com/plugins/facepile.php?app_id=194718703877738&amp;max_rows=2" scrolling="no" frameborder="0" allowTransparency="true" style="border:none;overflow:hidden; width:190px; height:120px;"></iframe>-->

<br/><br/>
<a href="{{ path('user_fblogin') }}"><img src="{{ asset('bundles/applicationanuncios/images/fblogin.png') }}"/></a>




	
{% endblock %}


{% block content %}

<div class="alert" style="text-align:center;" id="alert">Para seguir tienes que registrarte</div>





<h1 style="font-size:39px;letter-spacing:-1px;margin-bottom:0">Directorio de profesionales IT</h1>
<h2 style="font-size:20px;font-weight:normal;color:#999;margin-bottom:20px">Tu punto de encuentro para emprender una startup</h2>


<img src="{{ asset('bundles/applicationanuncios/images/team.png') }}" style="float:left;margin-right:10px"/>
<div style="float:left;width:480px">
	<b>Conecta con gente con ganas de emprender</b><br/>
	Programadores, diseñadores, maquetadores, community managers, bloggers...
</div>

<br class="clear"/><br/>

<img src="{{ asset('bundles/applicationanuncios/images/startups.png') }}" style="float:left;margin-right:10px"/>
<div style="float:left;width:480px">
	<b>Trabaja en la mejor startup</b><br/>
	Ofertas de empleo de las mejores empresas del sector técnologico.
</div>

<br class="clear"/><br/>





<img src="{{ asset('bundles/applicationanuncios/images/talent.png') }}" style="float:left;margin-right:10px"/>
<div style="float:left;width:480px">
	<b>¿Eres freelance? Consigue más clientes</b><br/>
	Date a conocer en el directorio para que contraten tus servicios.
</div>

<br class="clear"/><br/>

<img src="{{ asset('bundles/applicationanuncios/images/calendar_.png') }}" style="float:left;margin-right:10px"/>
<div style="float:left;width:480px">
	<b>Agenda de eventos</b><br/>
	Sigue informado y apúntate a los eventos para emprendedores.
</div>



<br class="clear"/><br/><br/>

<b>Colaboradores</b><br/>
<img src="/images/colaboradores/colaboradores.png"/>





{% endblock %}



{% block script_load %}
	/*
	if( document.location.href.indexOf('#alert') > -1 ){
		$('#alert').fadeIn('slow');
	}
	*/
{% endblock %}