{% set share_url = url('thread_show', { 'id': entity.id, 'slug': entity.slug, 'forum_id': entity.forumid }) %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title entity.title %}

{% block sidebar %}

    <a href="{{ path('thread_new') }}?id={{ forum.id }}" class="btn btn-large btn-primary">Nuevo tema</a>
    {% if user.id == app.session.get('id') or app.session.get('admin') == 1 %}
      <a class="btn" href="{{ path('thread_edit', { 'id': entity.id }) }}">Editar tema</a>
    {% endif %}



{% endblock %}

{% block content %}


<style>
.form_reply textarea{width:540px;height:65px}
</style>

<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('forum') }}">Foro</a> <span class="divider">/</span></li>
  <li><a href="{{ path('forum_show', { 'id': forum.id }) }}">{{ forum.title }}</a></li>
</ul>



<div style="background:#efefef;padding:10px;margin-bottom:25px">

<h1>{{ entity.title }}</h1>

<div class="body">{{ entity.body|nl2br }}</div>

<br/><br/>

Publicado por <a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}">{{ user.name }}</a> el {{ entity.date|date('d/m/Y') }} - {{ entity.visits }} visitas






{% if replies %}

  
  
  {% for reply in replies %}

    <div style="background:#fff;padding:10px;margin-top:15px">

      <div class="body">{{ reply.body|nl2br }}</div>

      <br/>

      {% if reply.user.id == app.session.get('id') or app.session.get('admin') == 1 %}
        <a href="{{ path('reply_edit', { 'id': reply.id }) }}" class="pull-right">editar</a>
      {% endif %}

      <a href="{{ path('user_show', { 'id': reply.user.id, 'slug': reply.user.slug }) }}">{{ reply.user.name }}</a> - {{ reply.date|date('d/m/Y') }}

    </div>
      
  {% endfor %}


  
{% endif %}

</div>


{% if app.session.get('id') %}

<b>Respuesta</b> &nbsp; <a href="#" onclick="$('#rules').slideToggle('fast');return false">Normas</a>
<div id="rules" class="alert hide">
  <ul>
    <li>Evita respuestas que no aporten valor a la discusi칩n, por ejemplo decir s칩lo "gracias" para evitar largas cadenas de mensajes.</li>
    <li>No esta permitido poner c칩digo HTML pero se permite poner enlaces.</li>
    <li>Como m치ximo se permiten 3 enlaces en una respuesta para evitar spam.</li>
  </ul>
</div>

<form action="{{ path('reply_create') }}" method="post" class="form_reply" {{ form_enctype(form) }}>

    {{ form_row(form.body, { 'label': ' ' }) }}

    {{ form_row(form._token) }}

    <div class="hide">{{ form_row(form.thread_id) }}</div>

    <p>
        <button class="btn" type="submit">Publicar respuesta</button>
    </p>
</form>
{% else %}
  Tienes que estar registrado para dejar una respuesta
{% endif %}

{% endblock %}


{% block script_load %}


  $('.body').each(function (i) {
    $(this).html( replaceURLWithHTMLLinks( $(this).html() ) );
  });


{% endblock %}