{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Administrar anuncios" %}


{% block sidebar %}

	<a href="{{ path('post_new') }}" class="btn btn-large btn-primary">Publicar anuncio</a>

{% endblock %}



{% block content %}


<h1>Administrar anuncios</h1>


<ul class="nav nav-tabs tabs">
  <li class="active"><a href="#jobs" data-toggle="tab">Anuncios</a></li> 
  <li><a href="#widget" data-toggle="tab">Widget</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="jobs">

{% if entities %}

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Anuncio</th>
				<th>Interesados</th>
				<th>Visitas</th>
				<th>Fecha</th>
				<th>Destacar</th>
			</tr>
		</thead>
		<tbody>
	    {% for entity in entities %}
	        <tr>
				<td>
					<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.title }}</a>
				</td>
				<td>
					{% if entity.interested > 0 %}
						<a href="{{ path('post_replies', { 'id': entity.id }) }}">{{ entity.interested }}</a>
					{% else %}
						{{ entity.interested }}
					{% endif %}
				</td>
				<td>{{ entity.visits }}</td>
				<td>{{ entity.date|date('d/m/Y') }}</td>
				<td nowrap="nowrap">
					{% if entity.featured %}
						<span class="label label-success">Destacado</span>
					{% else %}
						<a href="{{ path('post_promote') }}?id={{ entity.id }}" class="btn">&#9733;</a> 
					{% endif %}
					
					{% if entity.visible == 1 %}
						<a href="{{ path('post_admin_visible', { 'id': entity.id, 'value': 'NULL' }) }}" style="color:red">ocultar</a>
					{% else %}
						<a href="{{ path('post_admin_visible', { 'id': entity.id, 'value': 1 }) }}">mostrar</a>
					{% endif %}
				</td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>

	
{% else %}
	sin resultados
{% endif %}

</div>
<div class="tab-pane" id="widget">



<div class="row">
  <div class="span3">
  	<iframe src="http://dir.betabeers.com/post/widget?id={{ user_id }}" width="270" height="320" style="border:1px #666 solid;"></iframe>
  </div>
  <div class="span3">
  	HTML para añadir este widget en tu web:<br/>
	<textarea readonly="readonly" style="width:230px;height:70px" onclick="this.select()">&lt;iframe src="http://dir.betabeers.com/post/widget?id={{ user_id }}" width="250" height="300"&gt;&lt;/iframe&gt;</textarea>
  </div>
</div>

<br class="clear"/>


</div>
</div>

{% endblock %}


