{% set share_url = url('post') %}
{% set nav_post = 1 %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Ofertas de empleo" %}


{% block sidebar %}

	<a href="{{ path('post_new') }}" class="btn btn-large btn-primary">Publicar empleo</a>

	<br/>

	<a href="/page/faq/" style="font-weight:bold">¿Cómo publicar anuncio?</a>

	<br/><br/>
	
	<ul>
	{% for category in categories %}
		{% if loop.index0 != 0 and loop.index0 != 13 %}
			<li><a href="{{ path('post') }}?c={{loop.index0}}">{{category}}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
	



	
{% endblock %}



{% block content %}








<h1>Ofertas de empleo</h1>
<form action="{{ path('post_search') }}">
	<input name="q" placeholder="Posicíón, keyword o empresa" style="width:250"/> <input value="Buscar" type="submit" class="btn" style="font-weight:bold"/>
</form>





<div style="padding: 6px 0 9px 16px;border-top: 1px #efefef solid;background:#F6F6F6">
	<a href="{{ path('post') }}?c=2" style="color:black;margin-right:20px">Backend</a>
	<a href="{{ path('post') }}?c=1" style="color:black;margin-right:20px">Frontend</a>
	<a href="{{ path('post') }}?c=3" style="color:black;margin-right:20px">Apps</a>
	<a href="{{ path('post') }}?c=8" style="color:black;margin-right:20px">Diseñador</a>
	<a href="{{ path('post_internship') }}" style="color:black;margin-right:20px">Prácticas</a>
	<a href="{{ path('post_search') }}?t=1" style="color:black;margin-right:20px">Freelance</a>
</div>


    {% for entity in entities %}
		<div style="padding:10px 0;border-top:1px #efefef solid;{% if entity.featured != 1 and loop.index is divisibleby(2) %}background:#F6F6F6{% endif %}" {% if entity.featured == 1 %}class="featured"{% endif %}>

			<div style="float:left;width:340px;padding-left:15px">
				<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}" class="title" style="font-size:15px;line-height:16px;">{{ entity.title }}</a><br/>
				{% if entity.company %}
					{{ entity.company }} - 
				{% endif %}
				<a href="{{ path('post_city', { 'id': entity.getCityId() }) }}" style="color:black">{{ entity.location }}</a>
			</div>
			
			<div style="float:right;width:100px;">
				{% if entity.type == 0 %}
					<span class="label label-success">Empleo</span>
				{% elseif entity.type == 1 %}
					<span class="label label-info">Freelance</span>
				{% else %}
					<span class="label label-warning">Prácticas</span>
				{% endif %}<br/>
				<span class="date">{{ entity.date|date('d/m/Y') }}</span>
			</div>
			

			




			<!--<b>{{ categories[ entity.getCategoryId() ] }}</b>-->
			<br class="clear"/>
            
        </div>
    {% endfor %}






{{ pager|raw }}




{% endblock %}

