{% set share_url = url('post_internship') %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Prácticas laborales en startups" %}

{% block sidebar %}

	<a href="{{ path('user_register') }}" class="btn btn-primary btn-large">Registrarte</a>
		

		



{% endblock %}

{% block content %}

<h1>Prácticas laborales en startups</h1>


{% for entity in entities %}
	<div style="padding:15px 0;border-top:1px #efefef solid;{% if loop.index is divisibleby(2) %}background:#F6F6F6{% endif %}">

		<div style="float:left;width:415px;padding-left:15px">
			<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}" class="title" style="font-size:16px;line-height:16px;font-weight:bold;">{{ entity.title }}</a><br/>
			{% if entity.company %}
				{{ entity.company }} - 
			{% endif %}
			<a href="{{ path('post_city', { 'id': entity.getCityId() }) }}" style="color:black">{{ entity.location }}</a>
		</div>
		
		<div style="float:right;width:100px;">
			<span class="date">{{ entity.date|date('d/m/Y') }}</span>
		</div>
		

		<br class="clear"/>
        
    </div>
{% endfor %}


{% endblock %}