{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Destaca una oferta de empleo" %}


{% block sidebar %}

	<a href="/page/faq/#companies" target="_blank" class="btn btn-large btn-primary">Casos de éxito</a>
	<a href="{{ path('post_new') }}" class="btn">Publicar oferta</a>
	<a href="{{ path('post_dashboard') }}" class="btn">Ver tus anuncios</a>

{% endblock %}


{% block content %}

{% if success %}

	<h1>Pago realizado con éxito</h1>
	Muchas gracias por contratar el servicio, próximamente nos pondremos en contacto contigo.
	<br/><br/>
	Para cualquier cosa, no dudes en <a href="http://betabeers.com/contacto/" target="_blank">contactar con nosotros</a>

{% else %}



	
	<h1>Destaca una oferta de empleo</h1>
	
	Por tan sólo 30€ al mes puedes dar mayor visibilidad una oferta de empleo en nuestros canales:
	
	<br/><br/>
	
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Canales de difusión</th>
				<th>Alcance</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><i class="icon-ok"></i> Destacado en la web por 1 mes:<br/>betabeers.com y dir.betabeers.com</td>
				<td valign="top" nowrap="nowrap">+2.100 usuarios registrados<br/>+15.000 visitas<br/>+60.000 páginas vistas</td>
			</tr>
			<tr>
				<td><i class="icon-ok"></i> Twitter @betabeers con 2 tweets</td>
				<td>+1.700 seguidores</td>
			</tr>
			<tr>
				<td><i class="icon-ok"></i> Boletín mensual</td>
				<td>+2.000 suscritos</td>
			</tr>
		</tbody>
	</table>
	
	
	
	{% if entity %}
	
		<b>Oferta de empleo a destacar</b><br/>
	
		<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}" target="_blank">{{ entity.title }}</a> (Referencia: {{ entity.id }}) <a href="{{ path('post_dashboard') }}">Cambiar</a><br/><br/>
		
		<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
		    <input type="hidden" name="cmd" value="_xclick">
		    <input type="hidden" name="image_url" value="http://betabeers.com/v2/img/logo.png">
		    <input type="hidden" name="business" value="gafeman@gmail.com">
		    <input type="hidden" name="currency_code" value="EUR">
		    <input type="hidden" name="item_name" value="Destacar oferta de empleo betabeers">
		    <input type="hidden" name="item_number" value="{{ entity.id }}">
		    <input type="hidden" name="amount" value="30">
		    <input type="hidden" name="return" value="{{ path('post_promote') }}?id={{ entity.id }}&success=1">
		    <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
		</form>
	
	{% endif %}

{% endif %}

{% endblock %}