{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Respuestas anuncio" %}


{% block sidebar %}

	<a href="{{ path('post_dashboard') }}" class="btn">Ver tus anuncios</a>

{% endblock %}



{% block content %}


<h1>Respuestas anuncio</h1>


Anuncio: <a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.title }}</a>

<br/><br/>


{% if entities %}

	<div class="accordion">
	    {% for entity in entities %}
	    
	    
			<div class="accordion-group">
			<div class="accordion-heading group_edit"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{ loop.index }}" href="#coll{{ loop.index }}">{{ entity.date|date('d/m/Y') }} - {{ entity.name }}</a></div>
			<div id="coll{{ loop.index }}" class="accordion-body collapse {% if loop.index == 1 %}in{% endif %}">
			<div class="accordion-inner">
			
				{{ entity.body|nl2br }}
				<br/>
				<p align="right">

				{% if entity.getUserId() %}
				
					<a href="{{ path('user_show2', { 'id': entity.getUserId() }) }}">{{ entity.name }}</a> (usuario registrado)
				
				{% else %}
				
					<a href="mailto:{{ entity.email }}">{{ entity.name }}</a> (usuario no registrado)
				
				{% endif %}
				</p>
			</div>
			</div>
			</div>
	    {% endfor %}
	</div>

	
{% else %}
	sin resultados
{% endif %}


{% endblock %}



{% block script_load %}

	$(".accordion").collapse().css('height','auto');

{% endblock %}