{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title %}
	{{ entity.interested }} Respuestas anuncio
{% endblock %}


{% block sidebar %}

	<a class="btn btn-large btn-primary" href="{{ path('post_promote') }}?id={{ entity.id }}">Destacar oferta</a>
	<a class="btn" href="{{ path('post_edit', { 'id': entity.id }) }}">Editar anuncio</a>
	<a href="{{ path('post_dashboard') }}" class="btn">Ver tus anuncios</a>

{% endblock %}



{% block content %}


<h1>{{ entity.interested }} Respuestas anuncio</h1>


<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}" style="font-weight:bold">{{ entity.title }}</a>

<br/><br/>




{% if entities %}

	<div class="accordion" id="accordion2">
	    {% for entity in entities %}
	    
	    
			<div class="accordion-group">
			<div class="accordion-heading group_edit"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#coll{{ loop.index }}">{{ entity.date|date('d/m/Y H:i') }} - {{ entity.name }}</a></div>
			<div id="coll{{ loop.index }}" class="accordion-body collapse">
			<div class="accordion-inner">
			
				{{ entity.body|nl2br }}
				<br/>
				<p align="right">
				
				{% if entity.getUserId() %}
				
					<a href="mailto:{{ entity.email }}">{{ entity.email }}</a> | <a href="{{ path('user_show2', { 'id': entity.getUserId() }) }}">Perfil</a>
				
				{% else %}
				
					<a href="mailto:{{ entity.email }}">{{ entity.email }}</a>
				
				{% endif %}
				
				
				{% if entity.linkedin %}
				 | <a href="http://linkedin.com/in/{{ entity.linkedin }}" target="_blank">Linkedin</a>
				{% endif %}
				
				
				</p>
			</div>
			</div>
			</div>
	    {% endfor %}
	</div>

{% endif %}


{% endblock %}



{% block script_load %}

	$(".accordion").collapse().css('height','auto');

{% endblock %}