{% set btn_send = "Me interesa" %}

{% if entity.type == 0 %}
	{% set nav_post = 1 %}
{% else %}
	{% set nav_colaboration = 1 %}
{% endif %}

{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% set share_url = url('post_show', { 'id': entity.id, 'slug': entity.slug }) %}
{% set canonical_url = share_url %}
{% set form_url = path('post_contact', { 'id': entity.id }) %}
{% block title entity.title %}
{% set location = entity.getLocation() %}
{% set price = entity.getPrice() %}

{% block sidebar %}

	

			
	{% if user.id == app.session.get('id') or app.session.get('admin') == 1 %}
		
		<a class="btn btn-large btn-primary" href="{{ path('post_edit', { 'id': entity.id }) }}">Destacar oferta</a>
		<a class="btn" href="{{ path('post_edit', { 'id': entity.id }) }}">Editar anuncio</a>

	{% else %}
	
		{% include "ApplicationAnunciosBundle:Form:contact.html.twig" %}
		
	{% endif %}
	


	



	
	
	
{% endblock %}



{% block content %}




<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('post') }}">Anuncios</a> <span class="divider">/</span></li>
  <li class="active"><a href="{{ path('post_search') }}?c={{ entity.categoryid }}">{{ categories[ entity.categoryid ] }}</a></li>
</ul>





{% if entity.type == 0 %}
	<span class="label label-success">Empleo</span>
{% elseif entity.type == 1 %}
	<span class="label label-info">Freelance</span>
{% else %}
	<span class="label label-warning">Prácticas</span>
{% endif %}

<br/>


<h1>{{ entity.title }}</h1>

	
	{% if location %}
		Localidad: {{ location }} &nbsp; &nbsp; &nbsp;
	{% endif %}
	
	{% if entity.company %}
		Empresa: {{ entity.company }} &nbsp; &nbsp; &nbsp;
	{% endif %}
	
	{% if price %}
		Sueldo: {{ price }}
	{% endif %}

	{% if location or price %}
		<br/><br/>
	{% endif %}

	{{ entity.body|bbcode|raw|nl2br }}
	
	<br/><br/>

	Publicado por <a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}">{{ user.name }}</a> el {{ entity.date|date('d/m/Y') }} - {{ entity.visits }} visitas - {{ entity.interested }} interesados


	{% if entities %}
		<div style="border-top:1px #efefef solid;padding-top:15px;margin-top:25px">
			<b>Ofertas relacionadas</b><br/><br/>
			<ul>
			{% for entity in entities %}
				<li>
					<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.title }}{% if entity.location %} en {{ entity.location }}{% endif %}</a>
				</li>
	    	{% endfor %}
			</ul>
		</div>
	{% endif %}



{% endblock %}





{% block script_load %}

$("#btn_contact").click(function(){
	mpq.track("button click job");
});

{% endblock %}