{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Estadísticas" %}


{% block sidebar %}


	<b>Top ciudades</b><br/><br/>


	<ul>
    {% for city in cities %}
		<li><a style="display:inline" href="{{ path('post_city', { 'id': city.id }) }}">{{ city.name }}</a> ({{ city.total }})</li>
    {% endfor %}
	</ul>
	
	



	
{% endblock %}

{% block content %}

<h1>Estadísticas</h1>


<table class="table table-striped table-bordered">
	
		<tr>
			<td width="180"><b class="pull-right">{{ total_users }}</b>Usuarios</td>
			<td><b class="pull-right">{{ total_fb }}</b>Facebook</td>
            <td><b class="pull-right">{{ total_ref }}</b>Referidos</td>
		</tr>
		<tr>
        	<td width="180"><b class="pull-right">{{ total_posts }}</b>Anuncios</td>
			<td><b class="pull-right">{{ total_posts_freelance }}</b>Anuncios Freelance</td>
            <td><b class="pull-right">{{ total_posts_internship }}</b>Practicas</td>			
		</tr>
        <tr>
			<td width="180"><b class="pull-right">{{ total_unemployed }}</b>Buscan trabajo</td>
			<td><b class="pull-right">{{ total_freelance }}</b>Freelance</td>
            <td><b class="pull-right">{{ total_comments }}</b>Recomendaciones</td>

        </tr>
        <tr>
            <td><b class="pull-right">{{ total_events }}</b>Eventos</td>
            <td><b class="pull-right">{{ total_joined }}</b>Apuntados</td>
            <td><b class="pull-right">{{ total_places }}</b>Espacios</td>
        </tr>
</table>





<div id="graph"></div>




<b>Top ofertas</b><br/><br/>

<ul>
    {% for entity in top_posts %}
		<li>
			<a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}">
			{% if entity.type == 0 %}Empleo{% elseif entity.type == 1 %}Freelance{% else %}Prácticas{% endif %}, 
			{{ entity.title }}</a> ({{ entity.visits }} visitas)
        </li>
    {% endfor %}
</ul>

{% endblock %}





{% block load_src %}
	<script src="http://betabeers.com/infografia/highcharts.js"></script>
{% endblock %}


{% block script_load %}

    
    
	var graph = new Highcharts.Chart({
            chart: {
                renderTo: 'graph',
                type: 'area'
            },
            title: {
                text: false
            },
            subtitle: {
                text: false
            },
            xAxis: {
                categories: [
                	{% for item in jobs %}
                        '{{ item.date|date('M Y') }}',
                	{% endfor %}
                            ],
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: false
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +': '+ this.y;
                }
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: [
            
            	{
                name: 'Candidatos',
                data: [
	                	{% for item in interested %}
	                        {{ item.total }},
	                	{% endfor %}
		              ]
                },
                
                {
                name: 'Anuncios',
                data: [
	                	{% for item in jobs %}
	                        {{ item.total }},
	                	{% endfor %}
		              ]
                },
                
                {
                name: 'Usuarios',
                data: [
	                	{% for item in users %}
	                        {{ item.total }},
	                	{% endfor %}
		              ]
                },

                
                {
                name: 'Eventos',
                data: [
	                	{% for item in events %}
	                        {{ item.total }},
	                	{% endfor %}
		              ]
                },                
                
                {
                name: 'Apuntados',
                data: [
	                	{% for item in users_events %}
	                        {{ item.total }},
	                	{% endfor %}
		              ]
                },
                
                
                
 
                
                
            ]
        });
        

    
    

{% endblock %}



