{% set share_url = url('tag_show', { 'slug': entity.slug }) %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title %}Comunidad {{ entity.title }}{% endblock %}


{% block sidebar %}

    <a href="{{ path('user_edit') }}#tags" class="btn btn-large btn-primary">Mis comunidades</a>
    
    {% if test %}
		{% if test.enabled %}
			<a href="{{ path('test_take', { 'id': test.id }) }}" class="btn">Hacer test</a>
			<br/>
		{% endif %}
		<div class="alert" style="padding:14px 0;width:179px;text-align:center">
			<b>¡Supera el test y<br/>desbloquea el mérito!</b><br/><br/>
			<img src="{{ asset('bundles/applicationanuncios/images/badges/') }}{{ test.id }}.png" width="70" height="70"/>
		</div>
	{% endif %}
    

	
{% endblock %}



{% block content %}


	<ul class="breadcrumb">
	  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
	  <li><a href="{{ path('tag') }}">Comunidades</a> <span class="divider">/</span></li>
	  <li class="active">{{ entity.title }}</li>
	</ul>

	<h1>Comunidad {{ entity.title }}</h1>
	
	
	<ul class="nav nav-tabs tabs">
		<li class="active"><a href="#info" data-toggle="tab">{{ entity.users }} Miembros</a></li>
		{% if jobs %}<li><a href="#jobs" data-toggle="tab">Empleo</a></li>{% endif %}
		{% if events %}<li><a href="#events" data-toggle="tab">Eventos</a></li>{% endif %}
		<li><a href="#tweets" data-toggle="tab" id="tab_tweets">Tweets</a></li>
		<li><a href="#books" data-toggle="tab" id="tab_books">Libros</a></li>
	</ul>


	
	
	
	
	<div class="tab-content">

	<div class="tab-pane active" id="info">

	{% for user in users %} 
		<a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}"><img src="{{ user.getAvatar('normal') }}" rel="twipsy" data-original-title="{{ user.name }}" alt="{{ user.name }}" width="38" height="38" style="width:38px;height:38px"/></a>
	{% endfor %}
	
	</div>
	
	
	
	
    {% if jobs %}
    
    	<div class="tab-pane" id="jobs">		


			<ul>
			{% for job in jobs %}
				
				
				<li style="color:black"><a href="{{ path('post_show', { 'id': job.id, 'slug': job.slug }) }}">{{ job.title }}</a><br/>
				{% if job.company %}
					{{ job.company }} - 
				{% endif %}
				<a href="{{ path('post_city', { 'id': job.getCityId() }) }}" style="color:black" style="color:black">{{ job.location }}</a>
				<br/><br/>
				</li>
				
			{% endfor %}
			<li>
				<a href="{{ path('post_search') }}?q={{ entity.title }}">Ver más ofertas de {{ entity.title }}</a>
			</li>
			</ul>
		
		</div>

    
    {% endif %}
    
    
    {% if events %}
    
    	<div class="tab-pane" id="events">		


			<ul>
			{% for event in events %}
				
				
				<li style="color:black"><a href="{{ path('event_show', { 'id': event.id, 'slug': event.slug }) }}">{{ event.title }}</a><br/>
				{{ event.location }}
				<br/><br/>
				</li>
				
			{% endfor %}
			<li>
				<a href="{{ path('event_search') }}?q={{ entity.title }}">Ver más eventos sobre {{ entity.title }}</a>
			</li>
			</ul>
		
		</div>

    
    {% endif %}
    
    <div class="tab-pane" id="tweets"></div>
    
    <div class="tab-pane" id="books"></div>
	
	
	</div>


{% endblock %}


{% block script_load %}


	var tag = '{{ entity.title }}';
	

	$("*[rel=twipsy]").tooltip({placement:'bottom',animation:false});
	
	
	$('#tab_tweets').click(function(){
		if( $('#tweets').html() == '' ){
			$("#tweets").html( 'cargando...' );
			$.ajax({
				dataType: 'jsonp',
				success: function(data){
					html = '';
					if( data.results.length ){
					    $.each(data.results, function(i,item){
							html += '<a href="http://twitter.com/' + item.from_user + '" target="_blank" style="width:35px;height:35px;float:left;margin-right:15px"><img src="' + item.profile_image_url + '"></a><div style="float:left;width:500px">' + replaceURLWithHTMLLinks( item.text ) + '</div><br class="clear"/><br/></li>';
					    });
						$("#tweets").html(html);
					}else{
						$('#tweets').html('sin resultados');
					}
				},
				type: 'GET',
				url: 'http://search.twitter.com/search.json?lang=es&rpp=10&q=%23{{ entity.slug|replace({'-': ''}) }}%20-RT%20'
			});
		}
	});
	
	
	$('#tab_books').click(function(){
	
		url_api = 'http://www.etnassoft.com/api/v1/get/?criteria=most_viewed&num_items=10&order=newest&callback=?';
		
		category_id = false;
		
		switch( tag ){
			case 'php':
				category_id = 226;
				break;
			case 'mysql':
				category_id = 204;
				break;
			case 'nosql':
				category_id = 205;
				break;
			case 'postgresql':
				category_id = 254;
				break;
			case 'git':
				category_id = 210;
				break;
			case 'mercurial':
				category_id = 398;
				break;
			case 'svn':
				category_id = 211;
				break;
			case 'css':
			case 'css3':
				category_id = 213;
				break;
			case 'html':
			case 'html5':
				category_id = 215;
				break;
			case 'scrum':
				category_id = 386;
				break;
			case 'tdd':
				category_id = 219;
				break;
			case 'net':
				category_id = 305;
				break;
			case 'c':
				category_id = 271;
				break;
			case 'c++':
				category_id = 855;
				break;
			case 'haskel':
				category_id = 417;
				break;
			case 'javascript':
				category_id = 223;
				break;
			case 'java':
				category_id = 222;
				break;
			case 'jquery':
				category_id = 329;
				break;
			case 'python':
				category_id = 227;
				break;
			case 'ruby':
				category_id = 228;
				break;
			case 'ruby on rails':
				category_id = 763;
				break;
			case 'scala':
				category_id = 359;
				break;
		}
		
		if( category_id ){
			url_api += '&category_id=' + category_id;
		}else{
			url_api += '&keyword=' + tag;
		}
		
		
	
		if( $('#books').html() == '' ){
			$("#books").html( 'cargando...' );
			$.ajax({
				dataType: 'jsonp',
				success: function(data){
					html = '';
					if( data.length ){
					    $.each(data, function(i,item){
							html += '<a href="' + item.url_details + '" target="_blank" style="float:left;margin:0 10px 10px 0" rel="twipsy" data-original-title="' + item.title + '"><img src="' + item.cover + '" alt="' + item.title + '" width="100" height="135"></a>';
					    });
					    
					    html += '<br class="clear"/><br/><a href="http://openlibra.org" target="_blank">Libros extraidos de openlibra</a>';
					    
						$("#books").html(html);
						
						
						$("#books *[rel=twipsy]").tooltip({placement:'bottom',animation:false});
						
					}else{
						$('#books').html('sin resultados');
					}
				},
				type: 'GET',
				url: url_api
			});
		}
	});
	

{% endblock %}