{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title %}Tag {{ entity.title }}{% endblock %}


{% block sidebar %}

	
{% endblock %}



{% block content %}


	<h1>Tag {{ entity.title }}</h1>

	<b>{{ entity.users }} Usuarios</b><br/><br/>
	
	<ul>
	{% for user in users %} 
		<li><a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}">{{ user.name }}</a></li>
	{% endfor %}
	</ul>


{% endblock %}