{% set share_url = url('tag_show', { 'slug': entity.slug }) %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title %}Comunidad {{ entity.title }}{% endblock %}


{% block sidebar %}

    <a href="{{ path('user_edit') }}#tags" class="btn btn-large btn-primary">Mis comunidades</a>
    
    
    {% if jobs %}
		
		
			<br/><br/><b>Empleo</b><br/><br/>

			{% for job in jobs %}
				
				<div style="color:black">
				<a href="{{ path('post_show', { 'id': job.id, 'slug': job.slug }) }}" style="font-weight:bold;color:black">{{ job.title }}</a><br/>
				{% if job.company %}
					{{ job.company }} - 
				{% endif %}
				<a href="{{ path('post_city', { 'id': job.getCityId() }) }}" style="color:black" style="color:black">{{ job.location }}</a>
				</div>
				<br/><br/>
			
			{% endfor %}

    
    {% endif %}
	
{% endblock %}



{% block content %}


	<h1>Comunidad {{ entity.title }} - {{ entity.users }} Usuarios</h1>
	

	{% for user in users %} 
		<a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}"><img src="{{ user.getAvatar('normal') }}" rel="twipsy" data-original-title="{{ user.name }}" alt="{{ user.name }}" width="48" height="48" style="width:48px;height:48px"/></a>
	{% endfor %}
	
	<br/><br/>
	
	<b>Discusiones en twitter</b><br/><br/>
	
	
	<div id="tweets">cargando...</div>


{% endblock %}


{% block script_load %}

	$("*[rel=twipsy]").tooltip({placement:'bottom',animation:false});

	$.ajax({
		dataType: 'jsonp',
		success: function(data){
			html = '';
			if( data.results.length ){
			    $.each(data.results, function(i,item){
					html += '<a href="http://twitter.com/' + item.from_user + '" target="_blank" style="width:35px;height:35px;float:left;margin-right:15px"><img src="' + item.profile_image_url + '"></a><div style="float:left;width:500px">' + replaceURLWithHTMLLinks( item.text ) + '</div><br class="clear"/><br/></li>';
			    });
				$("#tweets").html(html);
			}else{
				$('#tweets').html('sin resultados');
			}
		},
		type: 'GET',
		url: 'http://search.twitter.com/search.json?lang=es&rpp=10&q=%23{{ entity.slug|replace({'-': ''}) }}'
	});
{% endblock %}