{% set static_id = 3 %}

{% set categories = ["Todos", "Programador frontend", "Programador backend", "Programador apps móvil", "Blogger", "Community manager", "Marketing", "SEO", "Diseñador", "Usabilidad", "Sysadmin", "Traductor", "Betatester", "Otros", "Maquetador"] %}

{% set categories_project = ["Todos","Viajes","Productividad","Classificados","Educación","Fotografía","Juegos","Música","Red social","Deportes","Salud","Ocio","Otros"] %}

{% set analytics_id = "UA-16938408-2" %}

{% set sitename = "Betabeers" %}
{% if form_category is not defined %}
	{% set form_category = "0" %}
{% endif %}
{% if form_type is not defined %}
	{% set form_type = "0" %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} - {{sitename}}</title>

	<meta name="google-site-verification" content="ggl4xKpndqsKTfoDqWE6jVaDAv2g_PRj1UIM64fs5Pc" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- START FB META -->
	<meta property="og:image" content="http://betabeers.com/v2/img/betalogo.png" />
	<!-- END FB META -->
	
	{% if canonical_url is defined %}
		<link rel="canonical" href="{{ canonical_url }}"/>
	{% endif %}

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    


	
	<link rel="stylesheet" href="http://betabeers.com/v2/css/bootstrap.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ asset('bundles/applicationanuncios/css/main2.css') }}?v={{ static_id }}" type="text/css" media="all" />
	<link rel="stylesheet" href="http://betabeers.com/v2/css/general.css" type="text/css" media="all" />




	
	


	
	
	<link rel="alternate" type="application/rss+xml" title="Betabeers jobs" href="http://feeds.feedburner.com/betabeersjobs" />
	
	
	
	<!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","48594e9f40c5174a30fc0efa9ad76f7f"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
	</script><!-- end Mixpanel -->
	
</head>
<body>



<div class="container">



	<div class="row">
		<div class="span9">
		
			<!-- inicio -->
		
			<nav>
				<a href="http://betabeers.com">PORTADA</a>
				<a href="http://betabeers.com/v2/agenda.php">AGENDA</a>
				<a href="http://betabeers.com/v2/videos.php">VIDEOS</a>
				<a href="http://dir.betabeers.com" class="sel">DIRECTORIO</a>
				<a href="http://betabeers.com/v2/club.php">CLUB</a>
				<br class="clear"/>
			</nav>
			
			
			
			<div class="contingut">



				<div class="navbar">
				    <div class="navbar-inner">
				      <div class="container">
				        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				          <span class="icon-bar"></span>
				          <span class="icon-bar"></span>
				          <span class="icon-bar"></span>
				        </a>
				        <a class="brand" href="/">Betabeers</a>
				        <div class="nav-collapse">
				          <ul class="nav">

				            <li><a href="{{ path('post') }}">Empleo</a></li>
							<li><a href="{{ path('forum') }}">Foro</a></li>
							<li><a href="{{ path('user') }}">Profesionales</a></li>
							<li><a href="{{ path('event') }}">Eventos</a></li>
							<li><a href="{{ path('test') }}">Tests</a></li>


				          </ul>
				          


							<form class="navbar-search pull-left" action="{{ path('post_search') }}" id="form_search">
							  <input type="text" name="q" id="query" class="search-query span2" placeholder="Buscar" autocomplete="off">
								<div id="menu_options">
									<a href="#" onclick="$('#form_search').attr('action','{{ path('post_search') }}').submit()">Buscar Empleos</a>
									<a href="#" onclick="$('#form_search').attr('action','{{ path('user_search') }}').submit()">Buscar Profesionales</a>
									<a href="#" onclick="$('#form_search').attr('action','{{ path('event_search') }}').submit()">Buscar Eventos</a>
									<a href="#" onclick="$('#form_search').attr('action','{{ path('forum_search') }}').submit()">Buscar Foro</a>
								</div>
							</form>



				          <ul class="nav pull-right">


							{% if app.session.get('name') %}


					            <li class="dropdown">
					              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.session.get('name') }} <b class="caret"></b></a>
					              <ul class="dropdown-menu">
					                <li><a href="{{ path('user_show', { 'id': app.session.get('id'), 'slug': app.session.get('slug') }) }}">Perfil</a></li>
									<li><a href="{{ path('user_invite') }}">Invitar contactos</a></li>
									<li><a href="{{ path('user_edit') }}">Editar perfil</a></li>


									{% if app.session.get('admin') %}
										<li class="divider"></li>
										<li><a href="{{ path('post_stats') }}">Estadísticas</a></li>
										<li><a href="{{ path('post_admin') }}">Administrar anuncios</a></li>
										<li><a href="{{ path('user_admin') }}">Administrar usuarios</a></li>
										<li><a href="{{ path('event_admin') }}">Administrar eventos</a></li>
										<li><a href="{{ path('place_admin') }}">Administrar espacios</a></li>
										<li><a href="{{ path('thread_admin') }}">Administrar temas</a></li>
										<li class="divider"></li>
										<li><a href="{{ path('event_emails') }}">Emails eventos</a></li>
									{% elseif app.session.get('moderator') %}
										<li><a href="{{ path('event_emails') }}">Emails eventos</a></li>
									{% endif %}
									<li class="divider"></li>
									<li><a href="{{ path('user_logout') }}">Salir</a></li>
					              </ul>
					            </li>
								
							{% else %}

								<!--<a id="lnk_fblogin" href="{{ path('user_fblogin') }}" title="Conectate con facebook" rel="twipsy"><img src="{{ asset('bundles/applicationanuncios/images/big_facebook.png') }}" align="absmiddle" width="18" height="18"/></a> 
								<a id="lnk_register" href="{{ path('user_register') }}">Registrate</a>
								<a id="lnk_login" href="{{ path('user_login') }}">Iniciar sesión</a>-->


								<li><a id="lnk_login" href="{{ path('user_login') }}">Iniciar sesión</a></li>
								
							{% endif %}

				          </ul>



				        </div><!-- /.nav-collapse -->
				      </div>
				    </div><!-- /navbar-inner -->
				  </div><!-- /navbar -->




				<div class="box_page">

					<div id="content">
						<div class="row show-grid">
							<div class="span5">
								{% block content %}{% endblock %}
							</div>
							<div class="span2 filters">
								<div id="sidebar">
									{% block sidebar %}{% endblock %}
								</div>
							</div>
						</div>
					</div>

				</div>




			</div>
	
	
			<!-- fin -->
	
		</div>
		<div class="span3 sponsors">
			<iframe src="http://betabeers.com/v2/sponsors.php" width="300" height="420"></iframe>
		</div>
	</div>
</div>

	




{% if share_url is defined %}
	<div id="share_bar" style="display:none;position:fixed;bottom:0;z-index:99;width:160px;right:0;border:1px #CCC solid;border-bottom:0">
		<div style="padding:15px 20px;background:#FEFBF3">
			
			<span style="position:relative;top:-5px;padding-right:15px;font-weight:bold">Compartir</span>

			<br/><br/>

			<a href="https://twitter.com/share" class="twitter-share-button" data-lang="es">Twittear</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<br/><br/>

			<iframe src="http://www.facebook.com/plugins/like.php?href={{ share_url }}&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>

			<br/><br/>

			<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/Share" data-counter="right"></script>

		</div>
	</div>
{% endif %}



<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>


<script src="{{ asset('bundles/applicationanuncios/bootstrap/js/bootstrap.min.js') }}?v=6"></script>



{% block load_src %}{% endblock %}
<script src="{{ asset('bundles/applicationanuncios/js/general.js') }}?v={{ static_id }}"></script>
<script type="text/javascript">
/* onload */
$().ready(function(){

	{% block script_load %}{% endblock %}


	{% if app.session.get('name') %}
		mpq.name_tag("{{ app.session.get('id') }}-{{ app.session.get('name') }}");
	{% endif %}


	$("*[rel=twipsy]").tooltip({placement:'bottom',animation:false});//{live: true, html: true, placement: 'below', animate: false}

	
	$('#query').focus(function(){
		$('#menu_options').show();
	});

	$('#query').blur(function(){
		setTimeout(function(){
			$('#menu_options').hide();
		},300);
	});



	// fix share options if is not mobile
	var mobile = (/iphone|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));  
	if( !mobile ){  
		

		setTimeout(function(){
			$('#share_bar').fadeIn('slow');	
		},1500);
		
	


	}

	
});

/* analytics */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ analytics_id }}']);
_gaq.push(['_setDomainName', 'betabeers.com']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();




/* uservoice */
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/EJ9MNe5mnqsdtWENt31fw.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>







</body>
</html>