{% extends "ApplicationAnunciosBundle::layout.html.twig" %}
{% set share_url = url('place_show', { 'id': entity.id }) %}

{% block title entity.title %}
{% set location = entity.getLocation() %}


{% block sidebar %}

<div style="background:#666;padding:15px 15px 0 15px;color:white;display:block">
	<div style="padding:0 0 10px 0;">
		<a href="http://maps.google.es/maps?q={{ entity.address }}, {{ location }}" target="_blank" style="float:left;padding-left:30px;padding-top:0;min-height:29px;background:url('{{ asset('bundles/applicationanuncios/images/marker.png') }}') no-repeat left top;color:white">
		{{ entity.address }}, {{ location }}
		</a><br class="clear"/>
	</div>



	{% if user.id == false %}
		<a class="btn btn-primary" href="{{ path('place_go', { 'id': entity.id, 'value': 1 }) }}">Trabajo aquí</a>
	{% else %}

		{% if apuntado == false %}
			<a class="btn btn-primary" href="{{ path('place_go', { 'id': entity.id, 'value': 1 }) }}">Trabajo aquí</a>
		{% else %}
			<a class="btn btn-danger" href="{{ path('place_go', { 'id': entity.id, 'value': 0 }) }}">No voy a ir</a>
		{% endif %}
	
	{% endif %}





	
	{% if entity.url %}
		<a class="btn" href="{{ entity.url }}" target="_blank">Más información</a>
	{% endif %}
			
	{% if user.id == app.session.get('id') or app.session.get('admin') == 1 %}
		<a class="btn" href="{{ path('place_edit', { 'id': entity.id }) }}">Editar espacio</a>
	{% endif %}
	

	
</div>
	

	
	
{% endblock %}



{% block content %}


<style>
.filters a.btn{width:160px;}
</style>

<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('place') }}">Espacios coworking</a> <span class="divider">/</span></li>
  <li><a href="{{ path('place_city', { 'id': entity.getCityId() }) }}">{{ city.name }}, {{ country.name }}</a></li>
</ul>



<h1 style="display:inline">{{ entity.title }}</h1>



<br/><br/>



<ul class="nav nav-tabs tabs">
	<li class="active"><a href="#info" data-toggle="tab">Información</a></li>
	{% if users %}
		<li><a href="#users" data-toggle="tab" id="tab_users">{{ entity.users }} apuntados</a></li>
	{% endif %}
	<li><a href="#map" data-toggle="tab" id="tab_map">Mapa</a></li>
	{% if entity.twitter %}
		<li><a href="#tweets" data-toggle="tab" id="tab_tweets">Tweets</a></li>
	{% endif %}
</ul>

<div class="tab-content">

<div class="tab-pane active" id="info">
	{% if entity.price %}Precio: {{ entity.price }} &nbsp; &nbsp; &nbsp;{% endif %}
	{% if entity.phone %}Telefono: {{ entity.phone }} &nbsp; &nbsp; &nbsp;{% endif %}
	
	<br/><br/>
	
	{{ entity.body|nl2br }}
	
	<br/><br/>
	
	Publicado por <a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}">{{ user.name }}</a> el {{ entity.date|date('d/m/Y') }} - {{ entity.visits }} visitas
</div>

<div class="tab-pane" id="users">	

	<div class="accordion" id="accordion2">
	{% for key, users_cat in users %} 
		<div class="accordion-group">
			<div class="accordion-heading group_edit">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#coll{{ loop.index }}">{{ categories[ key ] }} ({{ users_cat | length }})</a>
			</div>
			<div id="coll{{ loop.index }}" class="accordion-body collapse">
				<div class="accordion-inner">
					{% for user in users_cat  %}
						<a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}" style="float:left;margin:0 10px 10px 0;width:240px"><img src="{{ user.getAvatar('normal') }}" width="24" height="24" style="width:24px;height:24px" align="absmiddle"/> {{ user.getName() }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
	</div>

</div>

<div class="tab-pane" id="map">
	<div id="address">{{ entity.address }}, {{ location }}</div><br/>
	<div id="map_canvas" style="width:500px;height:300px"></div>
</div>

<div class="tab-pane" id="tweets"></div>

</div>

{% endblock %}


{% block load_src %}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}


{% block script_load %}

	$(".accordion").collapse().css('height','auto');

	$('#tab_map').click(function(){
		getMap();
	});
	
	
	{% if entity.twitter %}
	$('#tab_tweets').click(function(){
		if( $('#tweets').html() == '' ){
			$("#tweets").html( 'cargando...' );
			
			
			$.ajax({
				dataType: 'jsonp',
				success: function(data){
					html = '<ul>';
					if( data.length ){
					    $.each(data, function(i,item){

					      html += '<li>' + replaceURLWithHTMLLinks( item.text ) + '<br/><br/></li>';

					    });
						html += '</ul>';
						
						$("#tweets").html(html);


					}else{
						$('#tweets').html('sin resultados');
					}
				},
				type: 'GET',
				url: 'https://api.twitter.com/1/statuses/user_timeline.json?include_entities=false&include_rts=false&count=10&screen_name={{ entity.twitter }}'
			});
			
			
			

		}
	});
	{% endif %}
	
{% endblock %}